@import "./utils/variables";
@import "./utils/mixins";
@import "./base/base";
@import "./base/typography";
@import "./components/btn";
@import "./layouts/header";
@import "./layouts/footer";

#active-location {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #353535;
    font-weight: 500;
    background-color: #eaeaea;

    i {
        padding: 0 15px 0 0;
    }
}

#find-location {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    background-color: #f6f6f6;

    p {
        margin: 10px 0;
        text-align: center;
    }

    .big {
        font-size: 25px;
        font-weight: 900;
    }

    .tight {
        color: #353535;
        font-size: 17px;
        font-weight: 300;
    }
}

#functioning {
    padding: 25px;

    p {
        font-size: 25px;
        font-weight: bold;
    }

    ul {
        padding: 0;
        list-style: none;

        .li {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 20px 0;
            padding: 20px 0;
            border-radius: 15px;
            background-color: #f6f6f6;
            @include box-shadow;

            i {
                padding: 0 25px;
                color: #7e7e7e;
            }

            &--pink {
                background-color: lighten($primary, 35%);

                i {
                    color: $primary;
                }
            }
        }
    }

    .number {
        position: absolute;
        left: 4%;
        height: 20px;
        width: 20px;
        color: white;
        text-align: center;
        border-radius: 10px;
        background-color: $primary;
    }
}