.heart--like {
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

.heart--like:hover {
    &::before {
        animation: opacity-0 0.3s 0.9s ease-out forwards;
    }

    &::after {
        content: "\f004";
        font-weight: 900;
        position: absolute;
        height: 24px;
        display: inline;
        line-height: 1;
        background: linear-gradient(90deg, $secondary 0%, $primary 100%);
        background: -webkit-linear-gradient(90deg, $secondary 0%, $primary 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: heart-fill 0.9s ease-out forwards;
    }

}