* {
    font-family: "Roboto", sans-serif;
}

.h1 {
    font-size: 25px;
    font-weight: bold;
}

.logo, .menu__top h1 {
    font-family: "Shrikhand", sans-serif;
}

.logo__footer {
    margin: 0;
    font-size: 19px;
}

a {
    text-decoration: none;
    color: black;
}