@keyframes loader {
    0% {
        opacity: 1;
        backdrop-filter: blur(10px);
        transform: scale(1);
    }
    20% {
        opacity: 1;
    }
    50% {
        opacity: 0.9;
        backdrop-filter: blur(7px);
    }
    85%{
        opacity: 0.1;
    }
    90% {
        transform: scale(1);
    }
    99% {
        opacity: 0;
        backdrop-filter: blur(0px);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}

@keyframes glowing {
    0% {
        text-shadow: 0 0 7px white;
    }
    60% {
        text-shadow: 0 0 7px grey;
    }
    100% {
        text-shadow: 0 0 7px white;
    }
}

@keyframes fill {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes width-104 {
    from {
        width: 43px;
    }
    to {
        width: 104px;
    }
}

@keyframes heart-fill {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes opacity-0 {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes opacity-100 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}