@keyframes loader {
    0% {
        opacity: 100%;
        backdrop-filter: blur(10px);
        transform: scale(100%);
    }
    20% {
        opacity: 100%;
    }
    50% {
        opacity: 90%;
        backdrop-filter: blur(7px);
    }
    85%{
        opacity: 10%;
    }
    90% {
        transform: scale(100%);
    }
    99% {
        opacity: 0%;
        backdrop-filter: blur(0px);
    }
    100% {
        opacity: 0%;
        transform: scale(0%);
    }
}

@keyframes glowing {
    0% {
        text-shadow: 0 0 7px white;
    }
    60% {
        text-shadow: 0 0 7px grey;
    }
    100% {
        text-shadow: 0 0 7px white;
    }
}

@keyframes fill {
    0% {
        opacity: 0%;
        transform: translateX(-100%);
    }
    100% {
        opacity: 100%;
        transform: translateX(0%);
    }
}

@keyframes heart-fill {
    from {
        transform: scale(0%);
    }
    to {
        transform: scale(100%);
    }
}

@keyframes opacity-0 {
    from {
        opacity: 100%;
    }
    to {
        opacity: 0%;
    }
}