@mixin box-shadow {    
    box-shadow: 0 4px 6px lightgrey;
}

@mixin box-shadow-stronger {
    box-shadow: 0 6px 5px lightgrey;
}

@mixin text-wrap-dots {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    // width: 100%;
}

@mixin menu-stylin {
    * {
        margin: 0;
    }

    ul {
        list-style: none;
        padding: 0;

        li:nth-child(1n+2) {
            margin: 15px 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: white;
            border-radius: 15px;
            overflow: hidden;
            @include box-shadow();
            
            &:hover {
                cursor: pointer;
                .menu__right i::before {
                    transform: rotate(360deg);
                }
                .menu__right--price {
                    width: 90px;
                }
            }
        }
    }
}